* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.clearfix::before, .clearfix::after {
	content: "";
	display: table;
} 

.clearfix::after {
	clear: both;
}

/* ------------- Header ------------- */

.header {
	height: 890px;
	background: url(../images/bg-header.jpg) no-repeat;
	-webkit-background-size: 100% 100%;
	     -o-background-size: 100% 100%;
	        background-size: 100% 100%;
}

.logo__header {
	padding-top: 30px;
}

.menu__wrapper {
	display: inline-block;
}

.menu__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 70px;
}

.menu__item {
	display: inline-block;
	padding-right: 120px;
}

.menu__item a {
	text-decoration: none;
	color: #ffffff;
	font-size: 22px;
	line-height: 20px;
}

.menu__item a:hover {
	text-decoration: underline;
}

.slogan__wrapper {
	width: 450px;
}

.slogan__heading h1 {
	font-size: 52px;
	line-height: 62px;
	color: #ffffff;
	text-shadow: 1px 2px rgba(0,0,0,.1), -1px 0px rgba(0,0,0,.1);
	font-weight: normal;
	margin: 0;
	margin-top: 60px;
}

.slogan__text {
	width: 380px;
}

.slogan__text p {
	color: #ffffff;
	font-size: 14px;
	line-height: 25px;
	text-shadow: 1px 2px rgba(0,0,0,.1), -1px 0px rgba(0,0,0,.1);	
	margin: 0;
	margin-top: 16px;
}

/* ------------- Main content ------------- */

.main__content {
	padding-top: 110px;
	padding-bottom: 90px;
	background-color: #FFF;
}

.col__left {
	color: #fe992a;
	font-style: italic;
	font-size: 20px;
	line-height: 28px;
	width: 310px;
	border-right: 1px solid #eaeaea;
	padding-right: 40px;
	float: left;
}

.col__left p {
	margin: 0;
	min-height: 300px;
	
}

.col__right {
	float: left;
	padding-left: 62px;
	max-width: 650px;
}

.content__header h3 {
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	color: #fe992a;
	margin: 0;
}

.content__text p {
	color: #737c85;
	font-size: 14px;
	line-height: 28px;
	margin: 0;
	margin-top: 20px;
}

.content__text p a {
	text-decoration: underline;
	color: #737c85;
	font-size: 14px;
	line-height: 28px;
}

/* ------------- Footer ------------- */

.footer {
	background: url(../images/bg-footer.jpg) repeat;
	min-height: 475px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.contacts {
	width: 310px;
	float: left;
}

.contacts ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.contacts ul li {
	color: #fff;
	font-size: 14px;
	line-height: 18px; 
	padding-bottom: 16px;
}

.contacts h4 {
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 15px;

}

.contacts a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight: 18px;
	
}

.contacts a:hover {
	text-decoration: underline;
}

.list__wrapper {
	width: 90px;
	float: left;
	margin-right: 40px;
}

.list__wrapper h4 {
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	margin: 0;
	padding-bottom: 10px;
}

.list__wrapper ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

.list__wrapper ul li {
	padding-top: 6px;
	padding-bottom: 6px;
}

.list__wrapper ul li a {
	color: #fff;
	text-decoration: none;
	
}

.list__wrapper ul li a:hover {
	text-decoration: underline;
}


